<!DOCTYPE HTML>
<html>
	<form method="POST" action="#">
		<input type="text" name="name" placeholder="Name">
		<br>
		<input type="text" name="price" placeholder="Price">
		<br>
		<input type="number" name="weight" placeholder="Weight">
		<br>
		<input type="text" name="roast" placeholder="Roast">
		<br>
		<input type="text" name="region" placeholder="Region">
		<br>
		<input type="text" name="description" placeholder="Description" style="height:100px;width:250px;">
		<br>
		<input type="submit" value="Insert">
	</form>
</html>