body {
<<<<<<< HEAD
    background-color: white;
}

h1 {
    color: white;
    font-family: verdana;
}

p {
    color:black;
}

#header {
    background-color:brown;
    color:white;
    text-align:left;
    padding:5px;
}

#nav-bar {
    line-height:30px;
    background-color:#eeeeee;
    padding:5px;
}


#content {
    line-height:30px;
    background-color:#eeeeee;
    text-align:left;
    color:black;
    padding:5px;
=======
    background-color: lightgrey;
}

h1 {
    color: blue;
}

p {
    color:green;
>>>>>>> e1884f22ca2da6a733cbaa43ab8dc10bf992df61
}
