

body {

    background-color:#F5F0EB;
}
.title-bar {
    background-color:#331E06;
    text-align:center;
}

.title-bar #header {
    padding:5px;
    color: #CCB59A;
    font-family: verdana;
}

.title-bar #nav-bar {
    padding:5px;
    color: #B38F67;
    /* position: relative;
    top: 0px */
}

ul#menu, ul#menu li {
    float:left;
    text-align : center;
}

ul#menu li {
    list-style : none;
    text-align : center;

}
