html, body {
    height: 100%;
}

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
    background-color: #FAF4EC;
}

#selected a{
    color: white;
}

.header{
    background-color: #241109;
}

.header h1{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-bottom: -5px;
    text-align: center;
    font-family: 'Avenir';
    font-weight: 100;
    font-size: 3.6em;
}

.header a{
    text-decoration: none;
    color: #C0B897;
}


.nav-bar{
    margin-right: auto;
    margin-left: auto;
    width: 475px;
    padding: 3px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Futura';
    font-size: 0.7em;
}

.nav-bar a{
    color: #7A5D39;
    padding: 10px 10px;
    padding-bottom: 15px;
    text-decoration: none;
    float: left;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.border-item {
    border-left: 1px solid #7A5D39;
    padding-left: 20px;
}

.nav-bar a:hover {
    color: white;
}

.page-content {
    overflow:auto;
    padding-bottom: 70px;
}

.content-block {
    position: relative;
    float: left;
    font-family: 'Avenir';
    width: 30%;
    height: 458px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.content-header {
    position: relative;
    font-family: 'Avenir';
    width: 30%;
    height: 20px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 10px;

   
}

.content-header ul, h2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Futura';
    font-size: 1.7em;

    float : left;
    background-color : #241109;
    color: white;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

}

.content-header li h2:hover {
    background-color: white;
    color: black;
}

/* Used on the learn page, for example */
.content-block h2 {
    background-color: #7A5D39;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align : center;
    padding-bottom : 5px;
    padding-top: 5px;
    color :#C0B897; /* this is a gross color right now */
}

.page-title {
    margin-top : 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align : center;
    padding-bottom : 5px;
    padding-top: 5px;
    font-family: 'Futura';
    background-color: #e3dace;
    color: black;

}

footer{
   position: relative;
   margin-top: 40px;
   height: 70px;
   clear:both;
   background-color: #C8B69D;
}

footer .nav-bar a{
    padding-top: 25px;
    color: #241109;
}

footer .border-item{
    border-left: 1px solid #241109;
}


