{% extends "index.html" %}

{% block content %}
<center>
    <h1 id="sign-in">Search for coffee!</h1>
    <div>

        <form method="POST" action="/browse">
            <p>Roast: <select name="roast" id="roast">
                <option value="Light">Light</option>
                <option value="Medium Light">Medium Light</option>
                <option value="Medium">Medium</option>
                <option value="Medium Dark">Medium Dark</option>
                <option value="Dark">Dark</option>
            </select>
            &nbsp;
            Region: <select name="region" id="region">
                <option value="South America">South America</option>
                <option value="Central America">Central America</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Africa">Africa</option>
            </select>
            &nbsp;
            Cost: <select name="price" id="price">
                <option value="12">$12.00</option>
                <option value="13">$13.00</option>
                <option value="14">$14.00</option>
                <option value="15">$15.00</option>
                <option value="16">$16.00</option>
                <option value="17">$17.00</option>
                <option value="18">$18.00</option>
                <option value="19">$19.00+</option>
            </select>
            &nbsp;
            Ordered by: <select name="order" id="order">
                <option value="name">Coffee Name</option>
                <option value="roast">Roast</option>
                <option value="region">Region</option>
                <option value="cost">Cost</option>
            </select>
            <hr>
            OR
            <hr>

            <p>Search: <input type="text" name="searchBox" id="searchBox"></p>

            <section class="login">
                <button onclick="showDiv('results')" type="Submit" action='/browse'>Go!</button>
            </section>
            </p>
        </form>
    </div>

    <div style="display: block" id="results" class="search-results">
        <table>
        <tr>{% for row in columns %}
            {% for colName in row %}
            <th>{{colName}}</th>
            {% endfor %}
            {% endfor %}
        </tr>
        {% for row in results %}
            <tr>
            {% for item in row %}
                <td>{{item}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

</center>
{% endblock %}
