{% extends "layout.html" %}

{% block content %}
<section ng-controller="Browse">
    <center>
        <h1 id="styled-title">Search for coffee!</h1>
        <div>

            <form ng-submit="search()">
                <p>Roast: <select ng-model="roast" name="roast" id="roast">
                    <option value="Light">Light</option>
                    <option value="Medium Light">Medium Light</option>
                    <option value="Medium">Medium</option>
                    <option value="Medium Dark">Medium Dark</option>
                    <option value="Dark">Dark</option>
                </select>
                &nbsp;
                Region: <select ng-model="region" name="region" id="region">
                    <option value="South America">South America</option>
                    <option value="Central America">Central America</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Africa">Africa</option>
                </select>
                &nbsp;
                Cost: <select ng-model="price" name="price" id="price">
                    <option value="12.00">$12.00</option>
                    <option value="13.00">$13.00</option>
                    <option value="14.00">$14.00</option>
                    <option value="15.00">$15.00</option>
                    <option value="16.00">$16.00</option>
                    <option value="17.00">$17.00</option>
                    <option value="18.00">$18.00</option>
                    <option value="19.00">$19.00+</option>
                </select>
                &nbsp;
                Ordered by: <select ng-model="orderBy" name="order" id="order">
                    <option value="Name">Coffee Name</option>
                    <option value="Roast">Roast</option>
                    <option value="Region">Region</option>
                    <option value="Cost">Cost</option>
                </select>
                <hr>
                OR
                <hr>

                <table class="styled-input">
                    <tr>
                        <td>Search by Keyword: </td><td> <input ng-model="searchTerm" type="text"/></td>
                    </tr>
                </table>    
                <!-- <p>Search: <input ng-model="searchTerm" type="text" name="searchBox" id="searchBox"></p> -->

                <section class="styled-button">
                    <button type="submit">Go!</button>
                </section>
                </p>
            </form>
        </div>

        <div style="display: block" id="results" class="styled-table">
            <table>
            <tr>
                <th></th>
                <th ng-bind="colName"></th>
                <th ng-bind="colPrice"></th>
                <th ng-bind="colWeight"></th>
                <th ng-bind="colRoast"></th>
                <th ng-bind="colBody"></th>
                <th ng-bind="colRegion"></th>
                <th ng-bind="colDescription"></th>
            </tr>
                <tr ng-repeat="coffee in results">
                    <td><div><button id="fav-button" type="button" ng-click="addFavorite(coffee.name)">Favorite</button></div></td>
                    <td ng-bind="coffee.name"></td>
                    <td> </td>
                    <td ng-bind="coffee.weight"></td>
                    <td ng-bind="coffee.roast"></td>
                    <td ng-bind="coffee.body"></td>
                    <td ng-bind="coffee.region"></td>
                    <td ng-bind="coffee.description"></td>
                </tr>
            </table>
        </div>

    </center>
</section>
{% endblock %}
