 <!DOCTYPE html>
<html>
<head>
    <title>Coffee Homie</title>
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
     <!-- Collapsing Header -->
    <div class="title-bar">
        <div id="header">
            <h1>coffee corner</h1>
        </div>

        <!-- Fixed to the top Nav-bar -->
        <div  id="nav-bar" >
            <ul id="menu">
                <li>HOME</li>
                <li>BROWSE</li>
                <li>LEARN</li>
                <li>ABOUT</li>
                <li>LOG IN</li>

            </ul>

            <h2>This is the nav bar</h2>    
        </div>

    </div>

</body>
</html>
