{% extends "layout.html" %}

{% block content %}
<div class="home-banner">
    <div class="banner-title"> 
        <h1>Welcome to the Coffee Corner, this is where the magic happens</h1>
        <h1>Your gateway to all of your coffee needs</h1>
    </div>
    <div class="coffee-image">
        <img src="static/images/home_banner.jpg"></img>
    </div>
</div>
<div class="page-title">
    <h1 align="center">Let's get brewin' shall we?</h1>
</div>
<div class="content-block">
    <img src="static/images/coffee_cup.png" width="100", height="100"></img>
    <h1 align="center" class="block-title">What is Coffee Corner?</h1>
    <p>
        This web space was established in order to inform the common man 
        on the vast world of typical and exotic coffees. You will find while 
        surfing our site that there is a full and rich community of coffee which 
        is filled with coffee lovers just like you and I.
    </p>
</div>
<div class="content-block">
    <img src="static/images/earth.png" width="100", height="100"></img>
    <h1 align="center" class="block-title">Discover the World of Coffee!</h1>
    <p>
        Ever wondered how much you might be missing out when you're sipping on
        your hot cup of tar from Wawa, or the that old moldy drip brew Mr. Coffee
        you should've cleaned years ago? No?
    </p>
    <p> 
        Well either way you'll find a nice
        selection of coffees along with their descriptions on our browse page.
    </p>

    <center>
    <section class="styled-button">
        <a href="/browse"><button type="submit" value ="Login">Take me there!</button></a>
    </section>
    </center>
</div>
<div class="content-block">
    <img src="static/images/light_bulb.png" width="100", height="100"></img>
    <h1 align="center" class="block-title">Open Your Mind to the Coffee Universe</h1>
    <p>
        STARBUCKS HATES HIM!! This man figured out one trick that has coffee companies furious!
        Click here to find out this one simple trick!!!!
    </p>
    <p>
        Just kidding. But take some time to enhance your home brewing experience with handy tips from
        brew techniques and styles, to  equipment suggestions and recommended recipes to get that
        perfect cup.
    </p>

    <center>
    <section class="styled-button">
        <a href="/learn"><button type="submit" value = "Login" action='/learn'>Here we go.</button></a>
    </section>
    </center>

   
</div>

{% endblock %}


