 <!DOCTYPE html>
<html>
<head>
    <title>Coffee Homie</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <!-- Collapsing Header -->
    <div id="header">
        <h1>Coffee House</h1>
    </div>

    <!-- Fixed to the top Nav-bar -->
    <div id="nav-bar" style="position: relative; top: 0px">
        <h2>This is the nav bar</h2>    
    </div>

    <div id="content">
        <p>
            Here's a bunch of content that I want to scroll over















        </p>
    <div>

</body>
</html> 
