<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header">
	<div>
	    <h1>coffee corner</h1>
	</div>

	<div class="nav-bar">
	    <ul>
	      <li><a class="active" href="/">HOME</a></li>
	      <li class="center-item"><a href="#"><span class="border-item">BROWSE</span></a></li>
	      <li><a href="#"><span class="border-item">LEARN<span></a></li>
	      <li><a href="#"><span class="border-item">SHOP</span></a></li>
	      <li><a href="#"><span class="border-item">ABOUT</span></a></li>
	      <li><a href="#"><span class="border-item">LOG IN</span></a></li>
	    </ul>
	</div>
</div>

{% block content %}

{% endblock %}

<footer>
	<div class="nav-bar">
	    <ul>
	      <li><a class="active" href="/">HOME</a></li>
	      <li class="center-item"><a href="#"><span class="border-item">BROWSE</span></a></li>
	      <li><a href="#"><span class="border-item">LEARN<span></a></li>
	      <li><a href="#"><span class="border-item">SHOP</span></a></li>
	      <li><a href="#"><span class="border-item">ABOUT</span></a></li>
	      <li><a href="#"><span class="border-item">LOG IN</span></a></li>
	    </ul>
	</div>
</footer>


</body>
</html>
