<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div>
    <h1>COFFEE CORNER</h1>
</div>

<div class="nav-bar">
    <ul>
      <li><a class="active" href="#home">HOME</a></li>
      <li><a href="#news">BROWSE</a></li>

      <li><a href="#contact">LEARN</a></li>
      <li><a href="#about">LOG IN</a></li>
    </ul>
</div>

{% block content %}

{% endblock %}



</body>
</html>
