{% extends "layout.html"%}

{% block content%}

<style>
div.fixed {
    left: 175%;
    top:10%;
    /*right: 0;*/
    width: 75%;
    position: absolute;
}
</style>

<center>
    <section class="styled-button">
        <button id="tech" onclick="showContent('brew')"><p>Brew Techniques</p></button>
        <button id="bean-and-roast" onclick="showContent('beans')"><p>Beans & Roasts</p></button>
    </section>
</center>

<div class="learn-content">
    <div id="brew" style="visibility: hidden; display: none" >
        <center>
        <section>

        <button id="item" onclick="showContent('aero')">AeroPress</button>
        <button id="item" onclick="showContent('french')">French Press</button>
        <button id="item" onclick="showContent('moka')">Moka Pot</button>
        <button id="item" onclick="showContent('chemex')">Chemex</button>

        </section>
        </center>

        <section id="aero" style="visibility: hidden; display: block">
            <h2>Quick Start: Aeropress</h2>
            <p><b>1.</b> If you're using whole beans, grind to medium fine — similar to table salt.</p>
            <p><b>2.</b> For a mostly full cup, pull the plunger to line up with the "4" printed on the press.
            With the opening facing upward, place the Aeropress onto a table and pour a scoop of coffee inside.</p>
            <p><b>3.</b> Once your water is boiling, slowly pour it over the grounds in a circular motion 
            — making sure to evenly saturate the coffee grounds. Fill to 1cm from the top.</p>
            <p><b>4.</b> Once your water is boiling, slowly pour it over the grounds — making sure to evenly
            saturate the coffee grounds. Fill to 1cm from the top.</p>
            <p><i>note:</i> If you feel as if there are still dry clumps of beans, give it a tender stir.</p>
            <p><b>5.</b> Allow to steep for 1 minute. Wet your filter in the meantime and preheat your mug.</p>
            <p><b>6.</b> Screw on filter and guard, then place opening of cup over the Aeropress opening. Flip the
            whole mechanism over — push the plunger till you hear hissing air. Empty the grounds and enjoy. </p>
            <div class="fixed">
                <iframe width="620" height="480" src="https://youtube.com/embed/kQ8wvUKa35E"></iframe>
            </div>
        </section>


        <section id="french" style="visibility: hidden; display: none">
            <h2>Quick Start: French Press</h2>
            <p><b>1.</b> Grind your beans to a medium-course, similar to bread crumbs.
            Pour ground beans into the french press container.</p>
            <p><b>2.</b> Once water has boiled, pour enough to wet the grounds — stir to ensure an even wetting.
            Allow to bloom for 30 seconds.</p>
            <p><b>3.</b> Pour water up to indicated mark on the press and allow the steep for 4 minutes.</p>
            <p><b>4.</b> Press the plunger down with consistent force and serve immediately.</p>
            <p><i>note:</i> Since the grounds are at the bottom, the water is still extracting flavor. If
            you aren't going to serve it all immediately, opt for a glass carafe.</p>
            <div class="fixed">
                <iframe width="620" height="480" src="https://youtube.com/embed/9B4n-iUW_wI"></iframe>
            </div>
        </section>

        <section id="moka" style="visibility: hidden; display: none">
            <h2>Quick Start: Moka Pot</h2>
            <p><b>1.</b> Grind your beans to a medium fine, table salt, like consistency.
            Add water to the bottom chamber and place on high-heat.</p>
            <p><b>2.</b> Once the water is boiling, pour the beans into the basket, place
            the basket into the lower chamber, and screw the top on securely.
            Lower the heat to medium. Leave the lid open.</p>
            <p><b>3.</b> In 3-5 minutes, a smooth stream of dark coffee should come out the top.
            Once the coffee coming out appears a light-brown/honey color, then remove the MokaPot
            from the heat and run the base under cool water from a faucet.</p>
            <p><b>4.</b> Serve the coffee immediately. It's probably gonna taste like dirt.</p>
            <div class="fixed">
                <iframe width="620" height="480" src="https://youtube.com/embed/rpyBYuu-wJI"></iframe>
            </div>
        </section>

        <section id="chemex" style="visibility: hidden; display: none">
            <h2>Quick Start: 8 cup Chemex</h2>
            <p><b>1.</b> Grind beans to a kosher salt consistency. Rinse the Chemex filter with hot water
            to rid of potential paper tastes. Place the filter in the top of the Chemex, followed by the
            fresh grounds.</p>
            <p><b>2.</b> Wet the grounds and stir as to moisten any dry clumps. Let stand for 45 seconds.</p>
            <p><b>3.</b> Pour more grounds in a circular motion up to 1 inch from the rim. Let stand for 1 minute.</p>
            <p><b>4.</b> Fill to the rim of the Chemex. Let brew for 3 more minutes. Lift the filter out and serve.</p>
            <div class="fixed">
                <iframe width="620" height="480" src="https://youtube.com/embed/JrcH-4wHK9w"></iframe>
            </div>
        </section>

    </div>
    <div id="beans" class="styled-table" style="visibility:hidden; display: none" >
        <section id="beans">
        <center><h2>Beans</h2></center>
        <p>As far as bean varieties go, there are two major types.</p>
        <p><b>Coffee Arabica</b>: the most commonly used bean variety, mostly due to better taste and quality
        of coffee that this bean yeilds.</p>
        <p><b>Coffee Robusta</b>: this plant is often favored over Coffee Arabica due to its excelling resiliance
        and its simplicity factor for growing. As a result of this, Robusta has a higher crop yeild than Arabica</p>
        </section>

        <section id="roasts">

        <center><h2>Roasts</h2></center>
        <p>
        Roasts range between the first "crack" — which is the audible popping the bean makes
        as it is roasted — to being roasted until nearly burned.
        </p>
        <p>
        Below you'll find a handy chart for flavors you'd expect, as well as roast types that
        fall into certain levels of roasting.
        </p>
        <table>
            <th>Level</th><th>Common IDs</th><th>Shine</th><th>Acidity</th><th>Flavors</th>
            {% for i in roasts %}
            <tr>
            {% for item in i %}
            <td>{{item}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>

        </section>
    </div>
</div>



{% endblock %}
