{% extends "index.html"%}

{% block content%}

<script>

function showContent(toShow) {

    if(toShow == 'brew') {
        document.getElementById("brew").style.visibility = 'visible';
        document.getElementById("beans").style.visibility= 'hidden';

        document.getElementById("brew").style.display= 'block';
        document.getElementById("beans").style.display= 'none';

        /* change the color of the active button */
        document.getElementById("tech").style.background= '#241109';
        document.getElementById("tech").style.color= '#c8b69d';

        document.getElementById("bean-and-roast").style.background= '#faf4ec';
        document.getElementById("bean-and-roast").style.color= '#241109';


    } else {
        document.getElementById("brew").style.visibility = 'hidden';
        document.getElementById("beans").style.visibility = 'visible';

        document.getElementById("brew").style.display= 'none';
        document.getElementById("beans").style.display= 'block';

        /* change the colors of the buttons after being clicked */
        document.getElementById("bean-and-roast").style.background= '#241109';
        document.getElementById("bean-and-roast").style.color= '#c8b69d';

        document.getElementById("tech").style.background= '#faf4ec';
        document.getElementById("tech").style.color= '#241109';
    }
}

document.getElementById("brew-button").onclick = function() {
}

document.getElementById("bean-button").onclick = function() {
}

</script>

<center>
    <section class="styled-button">
        <button id="tech" onclick="showContent('brew')"><p>Brew Techniques</p></button>
        <button id="bean-and-roast" onclick="showContent('beans')"><p>Beans & Roasts</p></button>
    </section>
</center>

<div class="learn-content">
    <div id="brew" style="visibility: hidden; display: none" >
        <center>
        <section>

        <button id="item">AeroPress</button>
        <button id="item">French Press</button>
        <button id="item">Moka Pot</button>
        <button id="item">Chemex</button>

        </section>
        </center>

    </div>
    <div id="beans" style="visibility:hidden; display: none" >
        <h1> Hey i'm beans</h1>
        <p>Dark, french, blah balh blah, here's where you learn some stuff
        about the roast of beans and wher ethey come from. It's about time you
        knew this shit anyways homies.
        </p>
    </div>
</div>



{% endblock %}
