{% extends "layout.html" %}

{% block content %}
<section ng-controller="FormFailedController">
  <center>
      <h1 id="sign-in">Sign In</h1>
      <form ng-submit="login()">

          <table class="styled-input">
                <tr>
                  <td>Username: </td> <td > <input ng-model="username" type="text"/></td>
                </tr>
                <tr>
                  <td>Password: </td> <td> <input ng-model="password" type="password"/></td>
                </tr>

          </table>

          <section class="styled-button">
              <button type="submit">Login</button>
              <div class="invalid"><p id="message"></p></div>
          </section>

          <div>
            <section id="to-register">
                <h3>Don't have an account? <a href="/register"> Register here.</a></h3>
            </section>
          </div>

      </form>
  </center>
</seciton>
{% endblock %}
