{% extends "layout.html" %}

<h1>Register Here</h1>
<form method = "POST" action="/register">
<table>
  <p><br></p>
  <tr> 
    <td>First Name</td> <td> <input type="text" name="first"/></td>
  </tr>
  <tr> 
    <td>Last Name</td> <td> <input type="text" name="last"/></td>
  </tr>
  <tr>
    <td>email</td> <td> <input type="email" name="email"/></td>
  </tr>
  <tr>
    <td>password</td> <td> <input type="password" name="password"/></td>
  </tr>
  <tr>
    <td>age</td><td><input type="number" name="age"/></td>
  </tr>
</table>
<input type="Submit" value = "Register"/>
</form>


{% endblock %}