{% extends "index.html" %}

{% block content %}
<center>
    <h1 id="sign-in">Sign In</h1>
    <form method="post" action="/login">

        <table class="styled-input">
              <tr>
                <td>Username: </td> <td > <input type="text" id="user" name="username"/></td>
              </tr>
              <tr>
                <td>Password: </td> <td> <input type="password" name="password"/></td>
              </tr>

        </table>

        <section class="styled-button">
            <button type="submit" value = "Login" action='/home'>Login</button>
        </section>
        <div class="invalid"><p>{{invalid}}</p></div>

        <div ng-controller="FormFailedController">
          <section id="to-register">
              <h3>Don't have an account? <a href="/register"> Register here.</a></h3>
          </section>
        </div>

    </form>
</center>
{% endblock %}
